## Use a non-privileged port
Port ${SSHD_PORT}
## provide the new path containing these host keys
HostKey "${USER_ETC_DIR}"/ssh_host_rsa_key
HostKey "${USER_ETC_DIR}"/ssh_host_ecdsa_key
HostKey "${USER_ETC_DIR}"/ssh_host_ed25519_key
## Enable DEBUG log. You can ignore this but this may help you debug any issue while enabling SSHD for the first time
# LogLevel DEBUG3
## Provide a path to store PID file which is accessible by normal user for write purpose
PidFile "${USER_RUN_DIR}"/sshd.pid

ChallengeResponseAuthentication no
Include "${USER_ETC_DIR}"/ssh_config.d/*.conf
KbdInteractiveAuthentication no
PasswordAuthentication no
PermitRootLogin no
SyslogFacility AUTH
UsePAM yes
X11Forwarding no
PrintMotd no
Subsystem       sftp    /usr/lib/openssh/sftp-server
